.note_template {
    width: calc(100%);
}

.folder_suggest_input {
    width: calc(100% - 20px);
}

.invalid-input {
    border-color: red;
}

.muted-text {
    color: var(--text-muted);
    font-size: 12px;
}
